* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    background: RGBA( 0, 0, 0, 0.1 ) url(imagens/relogio.png) no-repeat top center;
}

section {
    width: 90%;
    margin: 0 auto;
}

#container_informacao, #container_erro, #container_horario {
    background: rgba(0, 0, 0, 0.7);
    width: 57%;
    border-radius: 1vw;
    padding: 3%;
    color: #fff;
    margin-top: 9%;
    padding: 5% 0;
}

#container_horario {
    background: rgba(255, 255, 255, 0.6);
    color: #000;
}

#container_erro {
    display: none;
}

i{
    color: #fff;
    margin-top: 5%;
}
#container_erro p, #container_horario p {
    margin-top: 2%;
}

#container_horario {
    display: none;
}

input {
    display: inline;
    width: 30%;
    padding: 1%;
    margin: 2% 0.5% 0 0;
    font-size: 1vw;
    border: none;
    border-radius: 0.2vw;
}

input#botao:active, input#botao:hover {
    background: linear-gradient(180deg, #778899, #F5FFFA);
}

input#horario:checked {
    background: #000;
}

.autor {
    margin-top: 7%;
}

@media (min-width:200px) and (max-width: 1000px) {
    #container_informacao, #container_horario, #container_erro {
        width: 75%;
        padding: 2%;
        line-height: 5vw;
        font-size: 3vw;
    }

    h1 {
        font-size: 4vw;
    }

    #container_informacao h1 {
        margin-bottom: 2%;
    }

    i {
        padding-top: 2%;
        margin: 10% 0;
     }

     input {
        font-size: 10pt;
        width: 45%;
        padding: 1.5%;
     }
}

@media (min-width: 200px) and (max-width: 600px) {

    body {
        background: url(imagens/relogio500.png) no-repeat center top;
    }
    #container_informacao, #container_horario, #container_erro {
        margin-top: 45%;
    }

    #container_horario {
        font-size: 4vw;
    }

    #container_horario p, h1 {
        margin:1%;
        padding: 1%;
    }

    #container_horario h1 {
        margin-bottom: 10%;
    }

    input {
        width: 60%;
        margin: 2.5% 2%;
        padding: 2.5%;
        font-size: 2.8vw;
    }

}

@media (min-width: 601px) and (max-width: 900px) {
    #container_informacao, #container_horario {
        margin-top: 30%;
    } 

    #container_erro {
        margin-top: 20%;
    }

    #container_informacao input {
        margin: 1%;
    }
}

@media (min-width: 901px) and (max-width: 1300px){
    #container_informacao, #container_horario {
        margin-top: 20%;
    }

    #container_erro {
        margin-top: 12%;
    }

    i {
        margin: 5% 0 10% 0;
    }

    #container_informacao input {
        font-size: 10pt;
        margin: 0.5%;
    }
}